/*-----------------------------------------*/
/*-----------------------------------------*/
/*----------- MEDIA SCSS STYLES -----------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
@media only screen and (max-width: 1164px){
  .newsUpdates{
    .newsUpdatesPost{
      .newsContentContainer{
        .inner{
          padding:45px 0px 0px 0px
        }
        img{
          width:40%;
        }
      }
    }
  }

}
/* --- Medium Breakpoint --- */
@media only screen and (max-width: 1023px){

  .newsUpdates{
    .newsUpdatesPost{
      .readMore{
        bottom:12px;
        top:auto !important;
      }
      .newsContentContainer{
        img{
          margin-top: 10%;
        }
        .inner{
            padding:45px 0px 45px 0px
        }
      }
    }
  }

  .housingCategory{
    .inner{
      min-height:400px;
    }
    span{
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: 840px){
  .housingInfo{
    .contentMenu ul{
      top:5%;
    }
    .contentContainer{
      min-height: 450px;
      .content{
        top:12%;
      }
    }
  }

  .housingCategories{
    .housingCategory{
      .inner{
        min-height:400px;
      }
    }
  }

}

@media only screen and (max-width: 700px){
  .searchContainer{
    .searchBox{
      max-width: 95%;
      display: block;
      margin: 0 auto;
      text-align: center;

      .locationField,.roomsField,.buttons{
        width:100%;
      }
      .rooms{
        width:49%;
      }
      .buttons{
        .incrementButtons{
          width:100%;
          .incrementButton{
            width:50%;
            float: left;
            height: 40px;
            line-height: 35px;
            font-size: 2em;
          }
        }
      }

      input[type="submit"]{
        width:100%;
      }
    }
  }

    .housingInfo{
      .contentMenu ul{
        padding:0px;
      }
      .contentContainer{
        min-height: 450px;
        .content{
          top:5%;
        }
      }
    }
}

@media only screen and (max-width: 680px){
  header{
    .desktopHeaderButtons{
      display: none;
    }
    .logoColumn{
      width:100%;
    }
    .mobileHeaderButtons{
      display: block;
      padding:10px 0px 12px 0px;
      ul{
        list-style: none;
        margin: 0px;
        li{
          float:left;
          width:25%;
          text-align: center;
          border:1px solid #e8e8e8;
          padding:5px 0px 5px 0px;
          i{
            color:$housingDarkGreen;
          }
        }
      }
    }
  }
}
/* --- Small Breakpoint --- */
@media only screen and (max-width: 640px){
  .newsUpdates{
    .newsUpdatesPost{
      .newsContentContainer{
        .newsContent{
          float:none;
          width:100%;
          text-align: center;
          .readMore{
            bottom:10px;
            top:auto;
            left:0px;
            right:auto;
            width:100%;
            text-align: center;
          }
        }
        &.contentLeft{
          img{
            float:none;
            display: block;
            width:90%;
            margin:20px auto 0px auto;
          }
        }
        .inner{
          float: none;
          display: block;
          width:100%;
          text-align: center;
          padding:25px 0px 45px 0px;
          p,h5{
            width:100%;
            text-align: center;
            max-width: 100%;
          }
        }
        img{
          float:none;
          display: block;
          width:90%;
          margin:20px auto 0px auto;
        }
      }
    }
  }

  .housingCategory{
    margin:20px auto 20px auto;
  }
  .staticHeading{
    padding:20px 0px 20px 0px;
  }

  .housingInfo{
    .contentContainer{
      .content{
        top:15%;
      }
    }
  }

  .socialBlock .socialList{
    li{
      width:48.5%;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    li:last-child{
      width:98%;
    }
  }
}

@media only screen and (max-width: 500px){
  .testimonialsContainer .testimonial .inner p{
    font-size: 1em;
  }
}
