/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------  MAIN SCSS STYLES   ---------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/*----------------- IMPORTS ---------------*/
@charset "UTF-8";
@import 'foundation';
@include foundation-everything;
@import "slick/slick.scss";
@import "slick/slick-theme.scss";
@import "fontawesome/font-awesome.scss";

/*----------------- MIXINS ------------------*/

@mixin transform($transforms) {
     -moz-transform: $transforms !important;
       -o-transform: $transforms !important;
      -ms-transform: $transforms !important;
  -webkit-transform: $transforms !important;
          transform: $transforms !important;
}

@mixin scale($scale) {
   @include transform(scale($scale));
}

@mixin transform-origin ($origin) {
    -moz-transform-origin:   $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin scale($scale) {
   @include transform(scale($scale));
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-duration($duration) {
    -moz-transition-duration:      $duration;
    -o-transition-duration:       $duration;
    -webkit-transition-duration:  $duration;
    transition-property-duration: $duration;
}

@mixin absolute-position($x,$xPosition,$y,$yPosition){
  position: absolute;
  $x:$xPosition;
  $y:$yPosition;
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin hoverDarken($baseColor){
  background-color: $baseColor;
  &:hover{
    background-color: darken($baseColor, 5%);
  }
}

@mixin clearfix(){
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@mixin placeholderColor($placeholderColor){
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $placeholderColor;
  }
  &:moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $placeholderColor;
     opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $placeholderColor;
     opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $placeholderColor;
  }
  &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color:    $placeholderColor;
  }
}
/*-------------- COLORS ----------------------*/

$housingDarkGreen : #879637;
$housingGrey : #4c4c4c;

/*-------------- MASTER STYLES ---------------*/
html{
  height:100%
}

textarea{resize:none;}

.floatLeft{float: left !important;}
.floatRight{float: right !important;}

.relative{position:relative;}
.absolute{position: absolute;}

.visible{visibility:visible !important;}
.hidden{visibility:hidden;}

/* TYPOGRAPHY */
.fw300{font-weight:300;}
.fw400{font-weight:400;}
.fw500{font-weight:500;}
.fw600{font-weight:600;}
.fw700{font-weight:700;}
.fw800{font-weight:800;}

.smallText{font-size:0.8em;}
.normalText{font-size:1em;}
.mediumText{font-size:1.5em;}
.largeText{font-size:2em;}

/*-------------- BUTTONS ----------------------*/
.fadeButton{
  @include transition(250ms linear);
  &:hover{
    cursor:pointer;
    @include transition(250ms linear);
  }
}

.ghostButton{
  padding:10px 30px 10px 30px;
  @extend .fadeButton;
  color:#fff;
}

.greenBorderButton{
  border:1px solid $housingDarkGreen;
}

.ghostButton.greenBorderButton{
  &:hover{
    background-color: $housingDarkGreen;
    color:#fff;
  }
}

/*-------------- GENERAL LAYOUT ---------------*/

.slick-next{
  &:before{
    content:  "\f054";
    font-family: "FontAwesome";
  }
}
.slick-prev{
  &:before{
    content:  "\f053";
    font-family: "FontAwesome";
  }
}

/*-------------- GENERAL TYPOGRAPHY ---------------*/

.staticHeading{
  text-align:center;
  color:$housingGrey;
  padding:90px 0px 90px 0px;
  font-weight: bold;
}

/*-------------- HEADER -----------------------*/
header{
  padding:25px 0px 25px 0px;
  .headerButton{
    display: inline-block;
    padding:0px 25px 0px 25px;
    margin-top:25px;
    font-weight: bold;
    color:#515258;
    .fa-navicon{
      color:$housingDarkGreen;
    }
    i{
      margin-right:10px;
    }
  }
  .mobileHeaderButtons{display: none;}
}

/*-------------- NAV --------------------------*/

/*-------------- FOOTER -----------------------*/

footer{
  background: #2e2d2d;
  padding:45px 0px 45px 0px;
  color:#fff;
  ul{
    font-size:0.8em;
    text-align: center;
    li{
      display: inline-block;
      padding:0px 10px;
    }
  }
}

/*-------------- HOME PAGE --------------------*/

.homeFeature{
  min-height:600px;
  width:100%;
  background:url('http://lorempixel.com/1400/600/city');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  color:#fff;
  h2{
    text-align: center;
    font-weight:bold;
  }
}

  .searchContainer{
    margin-top:25%;
    .searchBox{
      max-width: 640px;
      width:100%;
      display: block;
      margin:30px auto 0px auto;
      height:60px;
      form{
        height: 100%;
      }
      input{
        margin:0px;
        border:none;
        box-shadow: none;
      }
      .locationField{
        width:340px;
        float:left;
        color:#b9babc;
        height: 100%;
        @include placeholderColor(#515258);
      }
      .roomsField{
        width:100px;
        float:left;
        background: #2e2d2d;
        color:#fff;
        height: 100%;
        text-align: center;
        @include placeholderColor(#e3e3e3);
      }
      .buttons{
        width:170px;
        float:left;
        height: 100%;
        .incrementButtons{
          width:45px;
          float:left;
          .incrementButton{
            width:100%;
            height:50%;
            color:#fff;
            @include transition(250ms linear);
            display: block;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
          }
            .plus{
              background-color:#585757;
              @include hoverDarken(#585757);
            }
            .minus{
              background-color: #474747;
              @include hoverDarken(#474747);
            }


        }
        input{
          width:115px;
          height: 100%;
          background-color: $housingDarkGreen;
          color:#fff;
          @include transition(250ms linear);
          @include hoverDarken($housingDarkGreen);
          float:left;
        }
      }

    }
  }

.housingCategories{
  padding:80px 0px 80px 0px;
  .housingCategory{
    &:hover{
      cursor: pointer;
      .inner h6{
        max-width: 100%;
        width:100%;
      }
      .inner .housingCategoryDescription{
        bottom:10px;
      }
    }
    .inner{
      &:before {
        content: '';
    		position: absolute;
    		top: 0;
    		right: 0;
    		bottom: 0;
    		left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzillalorempixel.com/gradient-editor/#000000+0,000000+100&0.01+50,0.65+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    		opacity:1;
      }
      min-height:500px;
      background:url('http://lorempixel.com/700/500/city');
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center center;
      width:95%;
      display: block;
      margin:0 auto;
      text-align: center;
      position: relative;
      @include transition(250ms linear);
      h6{
        background-color: $housingDarkGreen;
        color:#fff;
        display: inline-block;
        width:95%;
        max-width: 190px;
        padding:20px 0px;
        font-weight: bold;
        @include transition(250ms linear);
      }
      .housingCategoryDescription{
        position:absolute;
        bottom:0px;
        left:0px;
        width:100%;
        padding:10%;
        text-align: center;
        color:#fff;
        @include transition(250ms linear);
        h5{
          font-weight: bold;
          margin-bottom:20px;
        }
        p{
          font-weight: 300;
          width:85%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.newsUpdates{
  .newsUpdatesPost{
    .newsContentContainer{
      .newsContent{
        position: relative;
        float:left;
        width:60%;
        &:after{
          @include clearfix;
        }
      }
      h5{
        font-weight: bold;
        width:90%;
        max-width: 360px;
        margin-bottom:50px;
        color:$housingGrey;
      }
      p{
        color:#888a92;
        font-weight: 300;
        width:80%;
      }
      .inner{
        float:left;
        width:90%;
        padding:45px 0px 45px 0px;
      }
      img{float: right;}

      .readMore{
        position:absolute;
        top:5%;
        right:2%;
        font-size:0.8em;
        font-weight: bold;
        color:$housingGrey;
        text-transform: uppercase;
        padding:10px 20px 10px 20px;
        border:1px solid #e8e8e8;
        @include transition(250ms linear);
        &:hover{
          border:1px solid $housingDarkGreen;
        }

      }
    }
    .newsContentContainer.contentLeft{
      .newsContent{
        text-align: left;
      }
      .inner{float:right;}
      img{float: left;}
    }
      display:block;
      border-top:1px solid #e8e8e8;
      border-bottom:1px solid #e8e8e8;
  }
}

/*-------------- BLOG INDEX -------------------*/

/*-------------- BLOG SINGLE-------------------*/

/*-------------- ELEMENTS -----------------*/

/* Twitter slider */
.tweetsContainer{
  background: $housingGrey;
  color:#fff;
  padding:60px 0px 60px 0px;
  .tweetsSlider{
    overflow: hidden;
  }
  .slick-dots{
    width:97%;
    position:static;
    margin:30px auto 0px auto;
    li{
      button{
        &:before{
          font-size:15px;
          color:#fff;
        }
      }
    }
  }
}
.tweet{
  .tweetInner{
    width:85%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  h6{
    color:$housingDarkGreen;
    font-weight: bold;
  }
  .tweetInfo{
    display: block;
    margin-bottom: 10px;
  }
  .tweetText{
    margin-top:20px;
    width:80%;
    display: block;
    margin:20px auto 0px auto;
  }
}

/* Testimonial slider */
.testimonialsContainer{
  padding:80px 0px 50px 0px;
  background:url('http://lorempixel.com/1400/300/city');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .slick-prev{
    left:0px;
  }
  .slick-next{
    right:0px;
  }
    .testimonial{
      color:#fff;
      .inner{
        width:60%;
        display: block;
        margin: 0 auto;
        text-align: center;
        h6{
          font-weight: bold;
        }
        p{
          font-weight: 300;
          font-size: 1.3em;
        }
      }
    }

    .slick-dots{
      width:97%;
      position:static;
      margin:30px auto 0px auto;
      li{
        button{
          &:before{
            font-size:15px;
            color:#fff;
          }
        }
      }
    }
}

/* Social Blocks */
.socialBlock{
  h3{
    text-align:center;
    color:$housingGrey;
    font-weight: bold;
    padding-top: 60px;
  }
  .socialList{
    text-align: center;
    width:100%;
    max-width: 550px;
    list-style-type: none;
    margin:40px auto 40px auto;
    &:after{
      @include clearfix;
    }
    li{
      float: left;
      width:20%;
      a{
        padding:15px 0px 15px 0px;
        display: block;
        width:100%;
        border:2px solid #e8e8e8;
        &:hover{
          @include transition(250ms linear);
          border:2px solid $housingDarkGreen;
          i{
            color:$housingDarkGreen;
          }
        }
        i{
          color:#4c4c4c;
          font-size: 1.5em;
        }
      }
    }
  }
}

/* Housing information block */
.housingInfo{
  background-color:#242424;
  .contentMenu{
    background-color:#242424;
    ul{
      padding:20px;
      position: relative;
      top: 25%;
      width:85%;
      li{
        color:#fff;
        font-weight: 300;
        width:100%;
        list-style: none;
        border-bottom:1px solid #4b4b4b;
        a{
          color:#fff;
          padding-bottom: 30px;
          display: inline-block;
          height: 90px;
          line-height: 90px;
          width:auto;
          padding:0px 2% 0px 0px;
          &:hover{
            font-weight: bold;
            &:after{
              content:"";
              display:block;
              width:100%;
              height:3px;
              margin-top: -3px;
              background-color:$housingDarkGreen;
            }
          }
        }
        .active{
          font-weight: bold;
          &:after{
            content:"";
            display:block;
            width:100%;
            height:3px;
            margin-top: -3px;
            background-color:$housingDarkGreen;
          }
        }
        i.rotateRight{
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
          @include transform(rotate(180deg));
        }
        i{
          float: right;
          margin-top:30px;
          @include transition(250ms linear);
        }
      }
    }
  }
  .contentContainer{
    min-height: 600px;
    background:url('http://lorempixel.com/1000/600/city');
    background-repeat: no-repeat;
    background-size: cover;
    .content{
      display: none;
      position:relative;
      top:30%;
      color:#fff;
      text-align: center;
      width:70%;
      margin: 0 auto;
      h4{
        color:#fff;
        font-weight: bold;
        margin-bottom:20px;
      }
      p{
        font-weight: 300;
      }
      .ghostButton{
        margin-top: 20px;
        display: inline-block;
        font-size: 0.9em;
        font-weight: bold;
      }
    }
    .content.active{
      display: block;
    }
  }
}

/*-------------- STATIC PAGES -----------------*/


@import "media.scss";
